* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.pexels.com/photos/1563355/pexels-photo-1563355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* button */
.btn {
    cursor: pointer;
    padding: 5px 5px;
    margin: 7px 3px;
    background-color: white;
    color: gray;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn:hover {
    background-color: gray;
    color: white;
    z-index: 1;
    border: 1px solid white;
}
.btn_sm {
    padding: 5px 10px;

}

/* background */
.background {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

/* navbar */
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    top: 0px;
    position: sticky;
}

.nav_ul {
    display: flex;
    width: 50%;
    /* justify-content: center; */
    align-items: center;
    /* background-color: saddlebrown; */
}

/* logo */
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33px;
    border-radius: 50%;
    /* margin: 5px; */
    cursor: pointer;
}

.nav_ul li {
    padding: 14px 18px;
    list-style: none;
}

.nav_ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav_ul li a:hover {
    color: grey;
    background-color: white;
}

.rightNav {
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

#search {
    padding: 5px;
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.box_main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 50%;
    height: 80%;
    margin: auto;
}

.sHalf img {
    width: 300px;
    padding: 2px;
    display: block;
    margin: auto;
    border: 4px solid white;
    border-radius: 50%;
}

/* Section  */
.fSection {
    height: 100vh;
}

.fHalf {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sHalf {
    width: 30%;
}

/* text big small / inside section area */
.textBig {
    font-size: 3rem;
}

.textSmall {
    font-size: 1.2rem;
}