.text-center {
    text-align: center;
}
.bg-color {
    background-color: grey;
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
}
.flex-col {
    flex-direction: column;
}

.item-center {
    /* justify-content: center; */
    align-items: center;
} 